.send {
  border-radius: 30px;
  border: 4px solid #1b1b1b;
  flex: 2;
}

.send h2 {
  color: #1b1b1b;
}

.send form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
  color: #a2aab6;
}
